body{
    height: 9000px;
}

header{
    background-color: black;
}

header img{
    width: 60px;
}

#nav-fixed-top{
    top: 25px;
    background-color: white;
}

.navbar-toggler{
    border: 1px solid black;
}

.jumbotron1{
    margin-top: 100px;
    height: 550px;
    background-image: url(../img/jumbo-bg.png);
    background-position-y: top;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron1 img {
    width: 250px;
}

.jumbotron1-gallery img{
    width: 100%;
    border-radius: 15px;
}

.jumbotron1 .btn{
    border-radius: 2rem;
    background-color: #cd3d0f;
    text-decoration: none;
}

.jumbotron1-gallery{
    display: flex;
    justify-content: center;
}

.thumb {
    width: 100%;
    filter: opacity(70%);
    visibility: visible;
}

.ps5-devices .btn{
    border-radius: 25px;
}

.ps5-devices .device1{
    width: 100%;
}

.takes-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.takes-logo{
    width: 200px;
}

.text-tak{
    color: white;
}

.games {
    background-color: black;
    color: white;
}

.ps-plus-logo{
    width: 400px;
}

.ps-plus{
    background-color: lightgrey;
}

.ps-store{
    width: 100%;
}

.img1{
width: 400px;
}

.img2{
    width: 400px;
}

.img3{
    width: 400px;
}

.ps-now{
    background-color: darkblue;
}

.social-ps{
    background-color: white;
}